@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.collapse-item {
    width: calc(100% - 76px);

    &__heading {
        @include font-style(18px, 700);
        @include display-flex(row, space-between);
        line-height: 34px;
        color: white;
        background-color: $primary-color;
        border-radius: 10px;
        padding: 10px;
        position: relative;
        z-index: 1;

        .collapse-icon {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;

            &.open {
                transform: rotate(-180deg);
            }

            &.close {
                transform: rotate(0deg);
            }
        }
    }

    &__content {
        @include font-style(18px, 400);
        @include display-flex(column, flex-start, flex-start);
        line-height: 25px;
        padding: 16px 20px 20px 20px;
        margin: 0;
        border-radius: 5px;
        background-color: $light-grey;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        position: relative;
        z-index: 0;

        &.open {
            opacity: 1;
            max-height: fit-content;
            margin-bottom: 0px;
            transform: translateY(0);
            transition: max-height 0.5s ease, margin-bottom 0.5s ease, opacity 0.4s ease 0.15s, transform 0.2s ease 0.15s;
        }

        &.close {
            opacity: 0;
            max-height: 0;
            margin-bottom: -35px;
            transform: translateY(-50px);
            transition: max-height 0.5s ease, margin-bottom 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
        }
    }
}

/****************Media query mobile*****************/
@media screen and (max-width: 768px) {
    .collapse-item {
        width: 100%;

        &__heading {
            @include font-style(13px, 700);
            line-height: 18px;
            border-radius: 5px;
        }

        &__content {
            @include font-style(13px, 400);
            line-height: 17px;
        }
    }
}