@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.collapse-item {
    width: calc(100% - 76px);

    &__heading {
        @include font-style(18px, 700);
        @include display-flex(row, space-between);
        line-height: 32px;
        color: white;
        background-color: $primary-color;
        border-radius: 10px;
        position: relative;
        z-index: 1;

        &__title {
            padding: 10px 0px 10px 15px;
        }

        &__icon-content {
            @include display-flex;
            padding: 18px 20px 19px 20px;
            cursor: pointer;

            .collapse-icon {
                height: 15px;
                transition: transform 0.3s ease-in-out;

                &.open {
                    transform: rotate(-180deg);
                }

                &.close {
                    transform: rotate(0deg);
                }
            }
        }
    }

    &__content {
        @include font-style(18px, 400);
        line-height: 25px;
        margin: 0;
        border-radius: 5px;
        opacity: 0;
        overflow: hidden;
        position: relative;
        z-index: 0;
        transition:
            max-height 0.4s ease-in-out,
            opacity 0.4s ease-in-out,
            transform 0.4s ease-in-out;

        &.open {
            opacity: 1;
            max-height: 1000px;
            transform: translateY(0);
        }

        &.close {
            opacity: 0;
            max-height: 0;
            transform: translateY(-10px);
        }

        &__text {
            @include display-flex(column, flex-start, flex-start);
            padding: 16px 20px 20px 20px;
            background-color: $light-grey;
            max-height: 0;
            transition:
                max-height 0.4s ease-in-out,
                opacity 0.4s ease-in-out,
                transform 0.4s ease-in-out;

            &.open {
                opacity: 1;
                max-height: 1000px;
                transform: translateY(0);
            }

            &.close {
                opacity: 0;
                max-height: 0;
                transform: translateY(-10px);
            }
        }
    }
}

// /****************Media query mobile*****************/
@media screen and (max-width: 768px) {
    .collapse-item {
        width: 100%;

        &__heading {
            @include font-style(13px, 700);
            border-radius: 5px;

            &__title {
                padding: 9px 0px 9px 10px;
            }

            &__icon-content {
                @include display-flex;
                padding: 9px 10px 9px 10px;
                cursor: pointer;

                .collapse-icon {
                    height: 9px;
                }
            }
        }

        &__content {
            @include font-style(13px, 400);
            line-height: 17px;
        }
    }
}