@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.collapse-about {
    @include display-flex(column);
    gap: 30px;
    margin: 38px 0;

    .collapse-item {
        width: 80%;

        &__heading {
            @include font-style(24px, 700);
            border-radius: 5px;
            padding: 9px 24px 9px 15px;
        }
    }
}