@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.location-page {
    margin-bottom: 50px;

    .info-locations {
        @include display-flex(row, space-between, flex-start);

        .host-rating {
            padding: 24px 3px 27px 10px;
        }
    }

    .collapse-location {
        @include display-flex(row, space-between, flex-start);
        gap: 76px;
    }
}