@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.location-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 60px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: $light-grey;
    padding: 56px 50px 43px 50px;
    margin: 50px 0;

    a {
        width: 100%;
    }
}

/****************Media query tablet/laptop*****************/
@media screen and (max-width: 1024px) {
    .location-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        background-color: $white;
        padding: 0;
        margin: 40px 0;
    }
}

/*********************Media query mobile*******************/
@media screen and (max-width: 768px) {
    .location-list {
        @include display-flex(column);
        gap: 20px;
        margin-top: 22px;
        margin-bottom: 27px;
    }
}