@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    &__name {
        @include font-style(18px, 500);
        @include display-flex(column, center, flex-end);
        text-align: right;
        color: $primary-color;
    }

    img {
        width: 64px;
        border-radius: 50px;

    }
}