@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    &__name {
        @include font-style(18px, 500);
        @include display-flex(column, center, flex-end);
        text-align: right;
        color: $primary-color;
    }

    img {
        width: 64px;
        border-radius: 50px;

    }
}

/****************Media query tablet*****************/
@media screen and (max-width: 1024px) {}

/****************Media query mobile*****************/
@media screen and (max-width: 768px) {
.host {

        &__name {
            @include font-style(12px, 500);
        }

        img {
            width: 32px;
            border-radius: 50px;

        }
    }
}