@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.header{
    @include display-flex(row, space-between);
    padding: 45px 100px 0 100px;

    &__logo{
        width: 210px;
        height: 68px;
    }

    &__nav{
        @include font-style(24px, 500);
        @include display-flex;
        gap: 57px;

        a{
            text-decoration: none;
            color: $black;

            &:hover{
                text-decoration: underline;
            }
        }   
    }
}