@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.header {
    @include display-flex(row, space-between);
    padding: 45px 100px 0 100px;

    &__logo {
        width: 210px;
        height: 68px;
    }

    &__nav {
        @include font-style(24px, 500);
        @include display-flex;
        gap: 57px;

        &__nav-link {
            text-decoration: none;
            color: $black;

            &.active {
                text-decoration: underline;
            }
        }
    }
}


/****************Media query tablet/laptop*****************/
@media screen and (max-width: 1024px) {
    .header {
        padding: 40px;

        &__logo {
            width: 145px;
            height: 46px;
        }
    }
}

/****************Media query mobile*****************/
@media screen and (max-width: 768px) {
    .header {
        padding: 20px;

        &__logo {
            width: 145px;
            height: 46px;
        }

        &__nav {
            @include font-style(12px, 500);
            gap: 26px;

            &__nav-link {
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (max-width: 340px) {
    .header {

        &__logo {
            width: 40%;
            height: auto;
        }
    }
}