@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.tags {
    span {
        @include font-style(14px, 700);
        padding: 5px 30px;
        margin-right: 10px;
        border-radius: 10px;
        background-color: $primary-color;
        color: $white;
    }
}


/****************Media query mobile*****************/
@media screen and (max-width: 768px) {
    .tags {
        @include display-flex(row, flex-start);
        flex-wrap: wrap;
        margin: 0;
        gap: 10px;

        span {
            @include font-style(10px, 700);
            line-height: 19px;
            padding: 2px 27px;
        }
    }
}