@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.footer {
    @include display-flex(column);
    background-color: $black;
    padding: 66px 0 29px 0;

    &__logo {
        width: 122px;
        height: 39px;
    }

    p {
        @include font-style(24px, 500);
        text-align: center;
        color: $white;
        margin: 29px 0 0 0;
    }
}


/*******Media query tablet/laptop*******/
@media screen and (max-width: 1024px) {
    .footer {
        p {
            @include font-style(18px, 500);
        }
    }
}

/************Media query mobile************/
@media screen and (max-width: 768px) {
    .footer {
        padding: 66px 120px 58px 120px;

        p {
            @include font-style(12px, 500);
            line-height: 17px;
            margin: 20px 0 0 0;
        }
    }
}