/*****Colors*****/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 100px 0 100px;
}
.header__logo {
  width: 210px;
  height: 68px;
}
.header__nav {
  font-size: 24px;
  font-weight: 500;
  font-family: "Monserrat";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 57px;
}
.header__nav a {
  text-decoration: none;
  color: #000000;
}
.header__nav a:hover {
  text-decoration: underline;
}

/*****Colors*****/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 66px 0 29px 0;
}
.footer__logo {
  width: 122px;
  height: 39px;
}
.footer p {
  font-size: 24px;
  font-weight: 500;
  font-family: "Monserrat";
  color: #FFFFFF;
  margin: 29px 0 0 0;
}

/*****Colors*****/
.banner {
  width: 100%;
  height: 223px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}
.banner__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.banner__overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.banner__overlay__home-page {
  background-color: rgba(0, 0, 0, 0.6);
}
.banner__overlay__about-page {
  background-color: rgba(0, 0, 0, 0.3);
}
.banner__overlay__text {
  font-size: 48px;
  font-weight: 700;
  font-family: "Monserrat";
  color: #FFFFFF;
  opacity: 1;
}

/*****Colors*****/
.card {
  width: 340px;
  position: relative;
}
.card__img {
  width: 100%;
  height: 340px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__text {
  font-size: 18px;
  font-weight: 700;
  font-family: "Monserrat";
  width: calc(100% - 40px);
  color: #FFFFFF;
  padding: 0 20px 20px 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/*****Colors*****/
.slideshow {
  width: 100%;
  height: 415px;
  position: relative;
}
.slideshow__img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.slideshow__counter {
  font-size: 18px;
  font-weight: 500;
  font-family: "Monserrat";
  color: #FFFFFF;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
.slideshow__arrow {
  width: 47px;
  height: 79px;
}
.slideshow__arrow--left {
  position: absolute;
  left: 23px;
  bottom: 180px;
}
.slideshow__arrow--right {
  position: absolute;
  right: 23px;
  bottom: 180px;
}

/*****Colors*****/
.info-locations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info-locations .info-tags h1 {
  font-size: 36px;
  font-weight: 500;
  font-family: "Monserrat";
  line-height: 51px;
  color: #FF6060;
  margin-top: 30px;
}
.info-locations .info-tags p {
  font-size: 18px;
  font-weight: 500;
  font-family: "Monserrat";
  margin: 0 0 20px 0;
}
.info-locations .info-tags span {
  font-size: 14px;
  font-weight: 700;
  font-family: "Monserrat";
  padding: 5px 30px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #FF6060;
  color: #FFFFFF;
}
.info-locations .host-rating {
  padding: 24px 3px 27px 10px;
}
.info-locations .host-rating .host {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}
.info-locations .host-rating .host__name {
  font-size: 18px;
  font-weight: 500;
  font-family: "Monserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  color: #FF6060;
}
.info-locations .host-rating .host img {
  width: 64px;
  border-radius: 50px;
}
.info-locations .host-rating .rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 27px;
}
.info-locations .host-rating .rating .active-star {
  font-size: 24px;
  color: #FF6060;
}
.info-locations .host-rating .rating .inactive-star {
  font-size: 24px;
  color: #E3E3E3;
}

.collapse-location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 76px;
  padding-top: 24px;
}
.collapse-location .collapse-item {
  width: calc(100% - 76px);
}
.collapse-location .collapse-item__heading {
  font-size: 18px;
  font-weight: 700;
  font-family: "Monserrat";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #FF6060;
  border-radius: 10px;
  padding: 10px;
}
.collapse-location .collapse-item__content {
  font-size: 18px;
  font-weight: 400;
  font-family: "Monserrat";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 25px;
  padding: 16px 20px 20px 20px;
  margin: 0;
  border-radius: 5px;
  background-color: #F6F6F6;
}

/*****Colors*****/
.location-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #F6F6F6;
  padding: 56px 50px 43px 50px;
  margin-top: 50px;
}
.location-list a {
  width: calc(33% - 220px);
}

/*****Colors*****/
.collapse-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 24px;
}
.collapse-about .collapse-item {
  width: 80%;
}
.collapse-about .collapse-item__heading {
  font-size: 24px;
  font-weight: 700;
  font-family: "Monserrat";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #FF6060;
  border-radius: 5px;
  padding: 9px 24px 9px 15px;
}
.collapse-about .collapse-item__content {
  font-size: 18px;
  font-weight: 400;
  font-family: "Monserrat";
  padding: 16px 20px 20px 20px;
  margin: 0;
  border-radius: 5px;
  background-color: #F6F6F6;
}

body {
  font-family: "Montserrat";
  max-width: 1440px;
  min-width: 320px;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}
body main {
  padding: 50px 100px 50px 100px;
}
body main h1, body main h2, body main h3, body main h4 {
  margin: 0;
}/*# sourceMappingURL=main.css.map */