body {
    font-family: 'Montserrat';
    max-width: 1440px;
    min-width: 320px;
    padding: 0;
    margin: auto;
    box-sizing: border-box;

    main {
        padding: 50px 100px 0px 100px;

        /**********Media query tablet/laptop***********/
        @media screen and (max-width: 1024px) {
            padding: 0 40px;
        }

        /**********Media query mobile***********/
        @media screen and (max-width: 768px) {
            padding: 0 20px;
        }

        h1,
        h2,
        h3,
        h4 {
            margin: 0;
        }
    }
}